.inputDropdownMain {
  .searchIcon {
    padding: 1em;
    width: 10px;
    .inputSearchIcon {
      color: gray;
    }
  }
  .inputMain {
    border: none;
    height: 42px;
    width: 82%;
    border-radius: 53px;
    outline: none;
    font-size: 14px;
  }
  ::placeholder {
    opacity: 0.5;
  }
  .dropdown {
    display: flex;
    justify-content: flex-end;
    margin-top: -42px;
  }
}
