.categoryCardMain {
  padding: 1em;
  .CategoryCardImage {
    background: transparent;
    border: 15px solid white;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    .categoryMainImage {
      display: flex;
    }

    .categoryMainImage:hover {
      position: relative;
      opacity: 0.5;
    }
    .categoryBadgeGroup {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      padding: 1em;
      position: absolute;
    }
    Image {
      border-radius: 20px !important;
    }
  }
}
