.homeCardMain {
  max-width: 1200px;
  width: 100%;
  .homeCardMainHeading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .homeCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
    grid-gap: 25px;
    gap: 25px;
    span {
      flex-direction: column;
    }
  }
}
