.TopRatingCardMain {
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .TopRatingImg {
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
  }
  .TopRatingImg:hover {
    background: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    transition: 300ms ease;
    filter: contrast(0.5);
  }
  .TopRatingTextGroup {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    p {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 6px;
    }
    .paragraphColor {
      color: gray;
    }
  }
}
