@import "../../../styles/variables";

.BottomDropdownMain {
  background-color: #f6f9fc;
  color: #4b566b;
  border-radius: 10px;
  height: 40px;
  width: 275px;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  display: -moz-box;
  display: flex;
  position: relative;
  font-size: 14px;

  nav {
    display: flex;
    z-index: 1;
    width: 100%;
    .categoryNavHeading {
      display: flex;
      align-items: center;
      p {
        margin-left: 12px;
      }
    }
    .categoryNav {
      justify-content: space-around;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 1em;
      align-items: center;
    }
    .categoryNavHovered {
      justify-content: space-around;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 1em;
      align-items: center;
    }
    li:hover {
      color: $lightRed;
      background: #fce9ec;
      width: 275px;
      margin-left: -11px;
      border-radius: 0px;
      align-items: center;
    }
  }
  ul {
    display: none;
  }
  .categoryNavHovered + ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 4.5em;
    position: absolute;
    list-style-type: none;
    flex-direction: column;
    background: wheat;
    width: 100%;
    box-shadow: 0px 0px 5px #ddd7d7;
  }

  .categoryNavHovered + ul,
  li {
    padding: 11px;
    background: #fff;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    .bottomDropdownItemMain {
      align-items: center;
      display: flex;
      justify-content: space-between;
      .bottomDropdownItemImg {
        margin-right: 10px;
      }
    }
  }
}
.BottomDropdownMain:hover {
  cursor: pointer;
}
