.footerMain {
  width: 100%;
  min-height: 405px;
  background-color: #0c0e30;
  border-top: 1px solid #eaeaea;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 25px;
    p{
      color: #AEB4BE;
      font-size: 14px;
      line-height: 30px;
    }

  }
}
