.MoreProductsMain {
  width: 100%;
  max-width: 1200px;
  padding-top: 4em;
  .MoreProductsHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .MoreProductsCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 25px;
  }
}
