.carouselWrapper {
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;

  .carouselItemMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 520px;
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    padding: 4em;

    .carouselItemright {
      width: 50%;
      h1 {
        font-size: 50px;
        color: #2b3445;
      }
    }
    button {
      background: rgb(210, 63, 87);
      border: none;
      padding: 1em;
      border-radius: 1em;
      color: white;
      box-shadow: none;
      font-weight: bolder;
      width: 115px;
    }
  }
  @media screen and (max-width: 599px){
    .carouselItemMain{
      flex-direction: column;
      .carouselItemright{
        width: 100%;
        h1{
          font-size:32px;
        }
      }
    }
  }
}
