.badgeMain{
    height: 25px;
    width: 60px;
    background: rgb(210, 63, 87);
    font-size: 11px;
    color: white;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}