.homeCardMain {
  .homeCardMainHeading {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    p {
      color: rgb(125, 135, 156);
    }
  }
  .homeCard {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
  }
}
