.categoriesMainContainer {
  width: 100%;
  max-width: 1200px;
  .categoriesMain {
    .categoriesHeading {
      display: flex;
      justify-content: space-between;
    }
    .categoriesCard {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 25px;
      .categoriesCardMapFrBought,
      .categoriesCardMap {
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 1em;
      }
      .categoriesCardMap:hover {
        cursor: pointer;
        box-shadow: 0px 8px 45px rgb(3 0 71 / 9%);
        transition: 300ms ease-in-out;
      }

      .categoriesCardMapFrBought {
        display: flex;
        flex-direction: column;
        h5 {
          margin-bottom: 0px;
          margin-top: 12px;
          font-size: 17px;
          font-weight: 600;
          line-height: 1.5;
          color: #373f50;
        }
      }
    }
  }
}
