.dropdownMain{
  color: rgb(75, 86, 107);
  // position: absolute;
  // margin-top: -38px;
  // right: 0;
  width: 115px;
  background: rgb(218, 225, 231);
  border-radius: 0px 50px 50px 0;
  height: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
}