.dropdownMain {
  background-color: rgb(246, 249, 252);
  color: rgb(75, 86, 107);
  width: 115px;
  border-left: 1px solid lightgray;
  border-radius: 0px 50px 50px 0;
  height: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
  nav {
    display: flex;
    z-index: 1;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
  }
  li {
    display: none;
  }
  ul li {
    list-style-type: none;
    text-decoration: none;
    padding: 6px;
  }
  .categoryNav {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    select {
      border: none;
      background: none;
      height: 100%;
      outline: none;
      cursor: pointer;
      option{
        padding: 1em;
      }
    }
  }
}

.dropdownMain:hover {
  cursor: pointer;
}
