.headerBottom  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    background: white;
    color:BLACK;
    margin-top: 50;
    font-family: Open Sans,Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 12px;
    .bottomDropdown{

    }

    .navBar{
        
    }
}