.TopRatingFeaturedMain {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  .TopRatingMainHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .TopRatingMain {
    width: 48%;
    .topRatingCard {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 25px;
      background: white;
      border-radius: 20px;
      padding: 1em;
    }
  }
  .FeaturedMain {
    width: 48%;
    .FeaturedCard {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 25px;
      background: white;
      border-radius: 20px;
      padding: 1em;
    }
  }
}
